* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Velvelyne';
  src: url('./font/Velvelyne-Regular.ttf') format('truetype');
  font-weight: 300;       /* Light 굵기라면 300 정도 */
  font-style: normal;
}

body {
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 12pt;
  line-height: 15pt;
  background-color: #d0d0cd;


  font-family: 'Velvelyne', sans-serif;

}


h1 {
  text-align: center;
  font-size: pt;
}

table {
  width: 400px;
  margin: auto;
  margin-top: 10px;
  text-align: left;
}

.nam
{border-top: 3px solid black;}

table, tr, td, th {

  color: #fe6f1a;
  background-color: ;
  border: 3px outset white;
  

  

  border-collapse: collapse;
  padding: 5px;
}


li {
  margin-left: 20px;
}

footer {
  font-size: 9pt;
  margin: 10px;
  text-align: center;
  color: #fe6f1a;
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: blue;
}


@media screen and (max-width: 704px) {
  table {
    width: 90%;        /* 혹은 100% → 80% 이런 식으로 줄이기 */
    margin: 0 auto;    /* 가운데 정렬 */
    border-spacing: 4px;   /* 셀 사이 간격 줄이기 (테이블이면) */
  }




